#gametext1 {
	text-align: center;
	position: absolute;
	top:25px;
	left:0px;
	width:100%;
}

#gold {
	text-align: left;
	position: absolute;
	top:175px;
	left:1100px;
	width:100%;
}

#stats {
	text-align: left;
	position: absolute;
	top:175px;
	left:50px;
	width:100%;
}

#opponent {
	text-align: center;
	position: absolute;
	top:150px;
	left:0px;
	width:100%;
}

#game-message {
	color:red;
	text-align: center;
	position: absolute;
	top:82.5px;
	left:0px;
	width:100%;
}

#player {
	text-align: center;
	position: absolute;
	top:300px;
	left:0px;
	width:100%;
}

#attack-button {
	top:380px;
	left:0px;
	margin-top: 20px;
	margin-left: 565px;
	position: absolute;

  background-color: #bbb;
  padding: .5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 6px;*/
  /*color: #fff;*/
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#next-button {
	top:380px;
	left:0px;
	margin-top: 20px;
	margin-left: 595px;
	position: absolute;

  background-color: #bbb;
  padding: .5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 6px;*/
  /*color: #fff;*/
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
}

#up-button {
	top:600px;
	left:450px;
	position: absolute;

  background-color: #bbb;
  padding: .5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 6px;*/
  /*color: #fff;*/
  font-family: 'Oswald';
  font-size: 18px;
  text-decoration: none;
  border: none;
}

#down-button {
	top:600px;
	left:300px;
	position: absolute;

  background-color: #bbb;
  padding: .5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 6px;*/
  /*color: #fff;*/
  font-family: 'Oswald';
  font-size: 18px;
  text-decoration: none;
  border: none;
}

#shop-button {
	top:600px;
	left:172.5px;
	position: absolute;

  background-color: #bbb;
  padding: .5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 6px;*/
  /*color: #fff;*/
  font-family: 'Oswald';
  font-size: 18px;
  text-decoration: none;
  border: none;
}

#tower-button {
	top:600px;
	left:575px;
	position: absolute;

  background-color: #bbb;
  padding: .5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*border-radius: 6px;*/
  /*color: #fff;*/
  font-family: 'Oswald';
  font-size: 18px;
  text-decoration: none;
  border: none;
}






body, html {
	height: 100%;
	margin: 0;

}

.bg {
	background-image: url("bg1.jpg");
	opacity: 0.85;
	padding:0px;
	margin:0px;
	height:100%;
	background-position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}